In [6]:
import numpy as np
import pandas as pd

In [7]:
gbc = pd.read_csv("./titanic_pred_gbc.csv")
rfm = pd.read_csv("./titanic_pred_rfm.csv")

In [8]:
ex = pd.read_csv("./gender_submission.csv")

In [18]:
gbc

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
5            897       0.0
6            898       0.0
7            899       0.0
8            900       1.0
9            901       0.0
10           902       0.0
11           903       0.0
12           904       1.0
13           905       0.0
14           906       1.0
15           907       1.0
16           908       0.0
17           909       0.0
18           910       1.0
19           911       1.0
20           912       0.0
21           913       0.0
22           914       1.0
23           915       0.0
24           916       1.0
25           917       0.0
26           918       1.0
27           919       0.0
28           920       0.0
29           921       0.0
..           ...       ...
388         1280       0.0
389         1281       0.0
390         1282       0.0
391         1283       1.0
392         1284       0.0
393         1285       0.0
394         1286       0.0
395         1287       1.0
396         1288       0.0
397         1289       1.0
398         1290       0.0
399         1291       0.0
400         1292       1.0
401         1293       0.0
402         1294       1.0
403         1295       0.0
404         1296       0.0
405         1297       0.0
406         1298       0.0
407         1299       0.0
408         1300       1.0
409         1301       1.0
410         1302       1.0
411         1303       1.0
412         1304       0.0
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

In [10]:
ex.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [12]:
rfm.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [13]:
gbc.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.315789
std     120.810458    0.465387
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000